<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/gridContent}"
>
<head>
    <title>Content</title>
    <script type="module" th:src="@{/dist/authUserMngView.js}"></script>
</head>

<div layout:fragment="content" id="container">
    <form id="authUserMngFrm">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <label for="viewAuthRole">Auth Role</label>
                        <select class="custom-select rounded-0" id="viewAuthRole" name="auth_role"></select>
                    </div>
                    <div class="col-4">
                        <label for="viewAuthId">Auth Name</label>
                        <select class="custom-select rounded-0" id="viewAuthId" name="auth_id"></select>
                    </div>
                    <div class="col-4">
                        <label for="searchStr">Login Id/Email/Name</label>
                        <input type="text" class="form-control" id="searchStr" name="search_str">
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <div class="row justify-content-end">
                    <div class="col-2">
                        <button type="button" class="btn btn-block btn-success btn-sm" id="writeBtn">ADD</button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-block btn-danger btn-sm" id="deleteBtn">DEL</button>
                    </div>
                    <div class="col-2 ">
                        <button type="button" class="btn btn-block btn-primary btn-sm" id="searchBtn">SEARCH</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</html>