<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/gridContent}"
>
<head>
    <title>Content</title>
    <script type="module" th:src="@{/dist/userMngView.js}"></script>
</head>

<div layout:fragment="content" id="container">
        <form id="userMngViewFrm" name="userMngViewFrm">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <label for="searchStr">아이디/이메일/이름</label>
                            <input type="text" class="form-control" id="searchStr" name="search_str">
                        </div>
                        <div class="col-4">
                            <label for="useYn">사용여부</label>
                            <select class="custom-select rounded-0" id="useYn" name="use_yn"></select>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <div class="row justify-content-end">
                        <div class="col-2">
                            <button type="button" class="btn btn-block btn-secondary btn-sm" id="uploadBtn">엑셀업로드</button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-block btn-success btn-sm" id="writeBtn">등록</button>
                        </div>
                        <div class="col-2 ">
                            <button type="button" class="btn btn-block btn-primary btn-sm" id="searchBtn">검색</button>
                        </div>
                    </div>
                </div>
            </div>


            <!--        <script>-->
            <!--            //셀렉트 박스(공통코드) : 사용구분 => page-->
            <!--            setCodeSelBox('pagePer','G_PAGE','','' );-->
            <!--        </script>-->
        </form>






</div>

</html>