<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.back.api.domain.User" alias="user"/>
    <typeAlias type="com.back.api.domain.UserEntity" alias="userEntity"/>
    <typeAlias type="com.back.api.domain.LoginEntity" alias="loginEntity"/>
    <typeAlias type="com.back.api.domain.AuthEntity" alias="authEntity"/>
    <typeAlias type="com.back.api.domain.UserAuthEntity" alias="userAuthEntity"/>
    <typeAlias type="com.back.api.domain.Code" alias="code"/>
    <typeAlias type="com.back.api.domain.CodeGrp" alias="codeGrp"/>
  </typeAliases>
</configuration>
