<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <div layout:fragment="content" class="content">
    <h2>This is Content</h2>
    <hr />
    <table border="1">
      <tr>
        <th>TEXT</th>
        <div class="img"></div>
      </tr>
      <th:block th:each="rl : ${resultList}">
        <tr>
          <td th:text="${ rl }"></td>
        </tr>
      </th:block>
    </table>
  </div>
</html>
