<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Admin Sample</title>
        <script type="module" th:src="@{dist/config.js}"></script>
        <link
            rel="stylesheet"
            th:href="@{/lib/tmpl/dist/css/adminlte.min.css}"
        />
        <script type="module" th:src="@{dist/login.js}"></script>
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="#" class="h1"><b>Admin</b></a>
                </div>

                <div class="card-body">
                    <p class="login-box-msg">LOGIN</p>

                    <form name="frm" id="frm">
                        <div class="input-group mb-3">
                            <input
                                type="text"
                                class="form-control"
                                name="login_id"
                                id="loginId"
                                title="login id"
                                placeholder="ID"
                            />
                            <input
                                type="hidden"
                                name="login_device"
                                id="loginDevice"
                            />
                            <input
                                type="hidden"
                                name="device_browser"
                                id="deviceBrowser"
                            />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input
                                type="password"
                                class="form-control"
                                name="user_pw"
                                id="userPw"
                                title="password"
                                placeholder="Password"
                            />

                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="idSaveCheck" />
                                    <label for="idSaveCheck">
                                        Remember Id
                                    </label>
                                </div>
                            </div>
                            <div class="col-4">
                                <button
                                    type="button"
                                    class="btn btn-primary btn-block"
                                    id="loginBtn"
                                >
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="form-group row" style="margin: 5px;">
                        <div class="col-12 text-lg-center" th:text="${ msg }" id="msg"></div>
                    </div>

                    <p class="mb-1" id="pwChangeBtn">
                        <a href="#">Change Password</a>
                    </p>
                    <p class="mb-0" id="signUpBtn">
                        <a href="#" class="text-center">Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
