<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/content}"
>
<head>
    <title>Content</title>
    <link rel="stylesheet" th:href="@{/lib/tmpl/dist/css/adminlte.min.css}"/>
    <script type="module" th:src="@{/dist/menuMngView.js}"></script>
</head>
<div layout:fragment="content" id="container">
    <form name="menuFrm">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <div class="row" >
                            <div class="col-6">
                                <select class="custom-select rounded-0" id="authRole" name="auth_role"></select>
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btn-block btn-warning btn-sm" id="menuAddBtn">ADD</button>
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btn-block btn-danger btn-sm" id="menuDelBtn">DEL</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="tree" class="tui-tree-wrap" style="width: 100%;"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" id="menu_nm"></h3>
                        <div class="row justify-content-end">
                            <div class="col-3">
                                <button type="button" class="btn btn-block btn-danger btn-sm" id="delBtn">DEL</button>
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btn-block btn-success btn-sm" id="saveBtn">SAVE</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
</html>